.naz-debug{
    border: 1px solid red;
}
/* header section */
.navbar a{
    text-transform: uppercase;
}
/* hero section */
#hero h1, #hero h2{
    text-transform: uppercase;
}
.naz-star-line{
    width: 100px;
    border: 1px solid white;
}
#portfolio .naz-star-line{
    border: 1px solid black;
}
/* portfolio section */
#portfolio h1{
    text-transform: uppercase;
}
/* about section */
#about h1{
    text-transform: uppercase;
}